{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/tools/tools.css')}}"/>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/tools/wp.js" defer></script>
{% endblock %}

{% block title %}PMS | WP{% endblock %}


{%block main%}
<main>
    <div class="top-buttons">
        <button class = "black-button"type = "submit" id = "submit_button">Submit</button>
        <button class = "white-button"type = "submit" id = "cancel_button">Cancel</button>
    </div>
    <form autocomplete="off" method="post">
        <div class="border"></div>    
        <div class="group">
            <div>
                <label>Project</label>
            </div>
            <div class="fields-group">
                <div class="dropdwn">
                    <label class="label-field" >Project code</label><br>
                    <input class = "input-2" id="project_code">
                    <datalist id="projects"></datalist>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div class="group">
            <div>
                <label class = "label-title">Situation</label>
            </div>
            <div class="fields-group">
                <div class="dropdown">
                    <label class = "label-field">Discipline</label><br>
                    <input class = "input-2" id = "discipline_code">
                    <datalist id="disciplines"></datalist>
                </div>
                <div class="dropdown">
                    <label class = "label-field">Phase</label><br>
                    <input class = "input-2" id = "phase_code">
                    <datalist id="phases"></datalist>
                </div>
            </div>
        </div>
        <div class="group">
            <div>
                <label class = "label-title">Workspace</label>
            </div>
            <div class="fields-group">
                <div class="dropdown">
                    <label class = "label-field">Fabrication line</label><br>
                    <input class = "input-3" id = "wp_line">
                    <datalist id="types" class = "input-3" ></datalist>
                </div>
                <div class="dropdown">
                    <label class = "label-field">Station</label><br>
                    <input class = "input-3" type="text" id = "wp_station">
                    <datalist id="stations" class = "input-3"></datalist>
                </div>
                <div class="dropdown">
                    <label class = "label-field">Zone</label><br>
                    <input class = "input-3" id = "wp_zone">
                    <datalist id="zones" class = "input-3" ></datalist>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div id = "subtasks">
            <div class="group">
                <div>
                    <label class = "label-title">Task</label>
                </div>
                <div class="fields-group">
                    <div class="dropdown">
                        <label class = "label-field">Action</label><br>
                        <input class = "input-3" name = "task_action" id = "action_0">
                        <datalist id="actions_0" class = "input-3"></datalist>
                    </div>
                    <div class="dropdown">
                        <label class = "label-field">Area</label><br>
                        <input class = "input-3" type="text" name = "task_area" id = "area_0">
                        <datalist id="areas_0" class = "input-3"></datalist>
                    </div>
                    <div class="dropdown">
                        <label class = "label-field">Task</label><br>
                        <input class = "input-3" name = "task_code" id = "task_0">
                        <datalist id="tasks_0" class = "input-3"></datalist>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <button type="button" id = "more_button" class="more-tasks">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus"
                width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="9" y1="12" x2="15" y2="12"></line>
                    <line x1="12" y1="9" x2="12" y2="15"></line>
                </svg>
                <p>Click here to add new task...</p>
            </button>
        </div>
    </form>
    <dialog id="validate_window"></dialog>
</main>
{%endblock%}
