{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/tools/tools.css')}}"/>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/tools/project.js" defer></script>
{% endblock %}


{% block title%}PMS | Project{% endblock %}


{%block main%}
<main>
    <form autocomplete="off">
        <div class="top-buttons">
            <button class = "black-button" type="button" id = "submit_button">Submit</button>
            <button class = "white-button" type="button" id = "cancel_button">Cancel</button>
        </div>
        <div class="border"></div>
        <div class="group">
            <div>
                <label class = "label-title">Project</label>
            </div>

            <div class="fields-group">
                <div>
                    <label class = "label-field">Agresso Code</label><br>
                    <input class = "input-3" id = "project_code" required>
                </div>

                <div>
                    <label class = "label-field">Name</label><br>
                    <input class = "input-3" id = "project_name" required>
                </div>

                <div>
                    <label class = "label-field">Client</label><br>
                    <input class = "input-3" id = "project_client" required>
                </div>
            </div>
        </div>
        <div class="group">
            <div>
                <label class = "label-title">Ghenova</label>
            </div>

            <div class="fields-group">
                <div>
                    <label class = "label-field">Section</label><br>
                    <input class = "input-2" type="text" id = "project_section">
                </div>
                <div>
                    <label class = "label-field">Division</label><br>
                    <input class = "input-2" id = "project_division">
                </div>
            </div>
        </div>

        <div class="border"></div>

        <div class="group">
            <div>
                <label class = "label-title">Budget</label>
            </div>

            <div class="fields-group">
                <div>
                    <label class = "label-field">Project budget</label><br>
                    <input class = "input-2"  id = "project_budget" type="number" required>
                </div>
                <div>
                    <label class = "label-field">Profit margin</label><br>
                    <input class = "input-2"  id = "project_profit_margin" type="number" required>
                </div>
            </div>
        </div>
        <div class="group">
            <div>
                <label class = "label-title">CPT</label>
            </div>

            <div class="fields-group">
                <div>
                    <label class = "label-field">Default</label><br>
                    <input class = "input-2"  id = "project_cpt" type="number" required>
                </div>
                <div>
                    <label class = "label-field">Actions</label><br>
                    <input class = "input-2"  id = "project_cpt_actions" type="number" required>
                </div>
            </div>
        </div>
        <div class="group">
            <div>
                <label class = "label-title">Costs</label>
            </div>

            <div class="fields-group">
                <div>
                    <label class = "label-field">Management</label><br>
                    <input class = "input-2" id = "project_management_cost" type="number" required>
                </div>
                <div>
                    <label class = "label-field">Extra</label><br>
                    <input class = "input-2"  id = "project_extra_cost" type="number" required>
                </div>
            </div>  
        </div>
    </form>
</main>

{%endblock%}