{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/tools/home.css')}}"/>
{% endblock %}


{% block title%}PMS | Tools{% endblock %}


{% block main %}

<main>
    <div class = "tool-card">
        <H1>Projects</H1>
        <a href="/tools/create_project" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create project</span>
        </a>
        <a href="/tools/modify_project" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify project</span>
        </a>
        <a href="/tools/modify_workspace" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-search"
            width="33" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 18l-2 -1l-6 3v-13l6 -3l6 3l6 -3v10"></path>
                <path d="M9 4v13"></path>
                <path d="M15 7v5"></path>
                <circle cx="16.5" cy="17.5" r="2.5"></circle>
                <path d="M18.5 19.5l2.5 2.5"></path>
            </svg>
            <span>Add/Modify workspaces</span>
        </a>
        <a href="/tools/modify_task" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-subtask"
            width="33" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="6" y1="9" x2="12" y2="9"></line>
                <line x1="4" y1="5" x2="8" y2="5"></line>
                <path d="M6 5v11a1 1 0 0 0 1 1h5"></path>
                <rect x="12" y="7" width="8" height="4" rx="1"></rect>
                <rect x="12" y="15" width="8" height="4" rx="1"></rect>
            </svg>
            <span>Add/Modify tasks</span>
        </a>
    </div>

    <div class = "tool-card">
        <H1>Actions</H1>
        <a href="/tools/create_action" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create action</span>
        </a>
        <a href="/tools/modify_action" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify action</span>
        </a>
    </div>

    <div class = "tool-card">
        <H1>WP</H1>
        <a href="/tools/create_wp" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create WP</span>
        </a>
        <a href="/tools/modify_wp" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify WP</span>
        </a>
    </div>

    
</main>

{% endblock %}