{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tools/home.css')}}"/>
{% endblock %}


{% block title%}PMS | Tools{% endblock %}


{% block main %}

<main>
    <div class = "tool-card">
        <H1>Projects</H1>
        <a href="/projects/create_project" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create project</span>
        </a>
        <a href="/projects/modify_project" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify project</span>
        </a>
        <a href="/projects/modify_workspace" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-search"
            width="33" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 18l-2 -1l-6 3v-13l6 -3l6 3l6 -3v10"></path>
                <path d="M9 4v13"></path>
                <path d="M15 7v5"></path>
                <circle cx="16.5" cy="17.5" r="2.5"></circle>
                <path d="M18.5 19.5l2.5 2.5"></path>
            </svg>
            <span>Add/Modify workspaces</span>
        </a>
        <a href="/projects/modify_task" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-subtask"
            width="33" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="6" y1="9" x2="12" y2="9"></line>
                <line x1="4" y1="5" x2="8" y2="5"></line>
                <path d="M6 5v11a1 1 0 0 0 1 1h5"></path>
                <rect x="12" y="7" width="8" height="4" rx="1"></rect>
                <rect x="12" y="15" width="8" height="4" rx="1"></rect>
            </svg>
            <span>Add/Modify tasks</span>
        </a>
    </div>

    <div class = "tool-card">
        <H1>Actions</H1>
        <a href="/actions/create_action" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create action</span>
        </a>
        <a href="/actions/modify_action" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="31" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify action</span>
        </a>
        <a href="/actions/modify_subaction" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="31" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify subaction</span>
        </a>
    </div>

    <div class = "tool-card">
        <H1>WP</H1>
        <a href="/wps/create_wp" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create WP</span>
        </a>
        <a href="/wps/modify_wp" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify WP</span>
        </a>
    </div>

    <div class = "tool-card">
        <H1>External tools</H1>

        <a href="/external_tools/cruscotto" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="40" height="40" viewBox="0 0 50 50">

            <path d="M 1 12 L 1 36 L 26 36 L 50 12 Z M 8.398438 18 
            C 11.800781 18 12.902344 18.800781 12.902344 18.800781 
            C 12.902344 18.800781 12.300781 20.300781 12 21.097656 
            C 11 20.699219 7 20 7 21.5 C 7 22.101563 7.199219 22.5 
            10.199219 23.199219 C 11.398438 23.5 13.199219 24.101563 
            13.597656 25.902344 L 16.699219 18 L 20.199219 18 L 24 
            27.5 L 24 18 L 28.5 18 C 31 18 33 20 33 22.5 C 33 25 31 
            27 28.5 27 L 27 27 L 27 30 L 21.5 30 L 20.902344 
            28.199219 C 20.199219 28.5 19.398438 28.699219 18.5 28.699219 
            C 17.601563 28.699219 16.800781 28.5 16.097656 28.199219 
            L 15.5 30 L 12 30 L 12.5 28.800781 C 11.601563 29.5 10.199219 
            30 8.398438 30 C 5.101563 30 4 29.097656 4 29.097656 L 4.800781 
            26.5 C 6.699219 27.699219 10.097656 27.5 10.097656 26.5 C 10.097656 25.5 
            8.601563 25.402344 6.601563 24.800781 C 4.699219 24.199219 4 22.699219 4 
            21.402344 C 4 20.101563 5 18 8.398438 18 Z M 27 21 L 27 24 L 28.5 24 C 
            29.300781 24 30 23.300781 30 22.5 C 30 21.699219 29.300781 21 28.5 21 
            Z M 18.5 21.402344 L 17 25.699219 C 17.398438 26 17.898438 26.097656 
            18.5 26.097656 C 19.101563 26.097656 19.601563 26 20 25.699219 Z"></path>
            </svg>
            <span>Cruscotto</span>
        </a>



    </div>

    
</main>

{% endblock %}