{%extends "base.html"%}

{%block css%}<link rel="stylesheet" href="{{ url_for('static', filename='tools/style.css')}}"/>{%endblock%}
{%block scripts%}<script src="/static/tools/scripts.js" defer></script>{%endblock%}
{%block title%}PMS | Tools{%endblock%}



{%block main%}
<main>
    <div class = "tool-card">
        <H1>Projects</H1>
        <a href="/projects/create" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create project</span>
        </a>
        <a href="/projects/modify" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify project</span>
        </a>
    </div>
    <div class = "tool-card">
        <H1>Actions</H1>
        <a href="/actions/create" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create action</span>
        </a>
        <a href="/actions/modify" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="31" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify action</span>
        </a>
        <a href="/actions/subaction" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="31" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify subaction</span>
        </a>
    </div>
    <div class = "tool-card">
        <H1>WP</H1>
        <a href="/wps/create" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
            width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <span>Create WP</span>
        </a>
        <a href="/wps/modify" class = "tool-element">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
            width="32" height="33" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
               <path d="M16 5l3 3"></path>
           </svg>
            <span>Modify WP</span>
        </a>
    </div>    
</main>
{%endblock%}


    