
main{
    padding:10px ;
    padding-top: 30px;
    margin: auto;
    margin-top: 25px;
    width: 80%;
    background-color: white;
    border: #EAEAEA solid 1px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    height: auto
}

.group{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.fields-group{
    display: flex;
    margin:12px; 
    justify-content: space-between; 
    align-items: center; 
    width: 70%;
}


.label-title{
    margin-left: 22px;
    font-size: 16px;
    font-weight: 500;
}

.label-field{
    font-size: 12px;
    font-weight: 400;
    color:  #57647E;
}


input{
    margin-top: 10px;
    outline: none;
    border: #EAEAEA solid 1px;
    height: 40px;
    padding-left: 5px;
    color:  #57647E;
}

.input-3{
    width: 200px;
}

.input-2{
    width: 300px;
}

.input_field{
    padding-right: 10px;
}
.black-button{
    width: 400px;
    margin: auto;
}

.border{
    margin: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: #EAEAEA solid 1px;
}
