main{
    max-width: 50%;
    min-width: 1000px;
    padding-bottom: 20px;
    background-color: white;
    border: #EAEAEA solid 1px;
    padding-right: 10px;
    padding-left: 10px;
}

form{
    display: flex;
    flex-direction: column;
}
dialog{
    min-width: 700px;
}
label{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 30%;
}
.label-field{
    font-size: 12px;
    font-weight: 400;
    color:  #57647E;
}
input{
    height: 40px;
    padding-left: 5px;
    margin-top: 10px;
    outline: none;
    border: #EAEAEA solid 1px;
    color:  #57647E;
}
datalist{
    position: absolute;
    overflow-y: auto;
    background-color: white;
    border: #EAEAEA solid 1px;
    display: none;
    z-index: 1;
}

option{
    display: flex;
    align-items: center;
    width: 300px;
    font-size: 14px;
    height: 40px;
    padding-left: 5px;
    outline: none;
    color:  #57647E;
    cursor: pointer;
    border-bottom:#EAEAEA solid 1px;
}
option:hover{
    background-color: #fafafa;
}

.dropdown{
    display: inline-block;
}

.tool-element{
    display: flex;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 12px;
}

.fields-group{
    min-width: 70%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.more-tasks{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #d5d5d5;
    font-weight: 400;
    cursor: pointer;
}

.input-4{
    width: 130px;
}

.input-3{
    width: 200px;
}

.input-2{
    min-width: 300px;
}

.border{
    margin: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: #EAEAEA solid 1px;
}

textarea{
    margin-top: 10px;
    outline: none;
    border: #EAEAEA solid 1px;
    padding-left: 5px;
    color:  #57647E;
    height: 100px;
    width: 675px;
    resize: none;
    position: relative;
}

.align-top{
    align-items: baseline;
}

#the-count {
    width: 100%;
    font-size: 12px;
    color:  #57647E;
}
