h2{
    font-size:28px;
    font-weight: 300;   
}

.card{
    margin: auto;
    padding: 22px;
    padding-top: 0;
    width: 800px;
    border: #dbdbdb solid 1px;
    background-color: white;
    min-height: 300px;
}

.group{
    margin-top: 20px;
}

.profile-icons{
    padding-right: 10px;
}
.profile-links{
    margin: 5px;
    display: flex;
    align-items: center;
}

