main{
    min-width: 1400px ;
}
label{
    font-size: 14px;
    font-weight: 100;
}

input{
    margin-top: 10PX;
    height: 40px;
    width: 200px;
    padding-left: 5px;
    font-size: 14px;
    outline: none;
    border: #EAEAEA solid 1px;
    color:  #57647E;
}

table{
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

th{
    font-weight: bold;
}

td,th{
    width: 20%;
    height: 50px;
    border-bottom:  #d5d5d5 solid 1px;
    border-collapse: collapse;
    text-align: left;
}

.color-main{
    background-color: white;
    border: #EAEAEA solid 1px;
}

.data-tables{
    min-height: 400px;
}

.table-window{
    display: none;
    margin: 12px;
}

#intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    color: #d5d5d5;
    font-weight: 400;
}

.input-fields{
    border: #EAEAEA solid 1px;
    background-color: white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom: 20px;
}

.black-button{
    border :black solid 2px ;
    background-color: black;
    color: white;
    width: 200px;
    height: 42px;
}

.black-button:hover{
    opacity: 70%;
    color: #EAEAEA;
    cursor: pointer;

}