{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tools/tools.css')}}"/>
{% endblock %}

{% block scripts %}<script src="/static/js/tools/actions/modify.js" defer></script>{% endblock %}

{% block title %}PMS | Modify action{% endblock %}

{%block main%}
<main>
    <div class="top-buttons">
        <button class = "black-button"type = "submit" id = "submit_button"  form="modify" >Save changes</button>
        <button class = "white-button"type = "submit" id = "cancel_button">Cancel</button>
    </div>
    <form autocomplete="off" method="post" action="/actions/modify" id="modify" >
        <div class="border"></div>    
        <div class="group">
            <div>
                <label>Action</label>
            </div>
            <div class="fields-group">
                <div class="dropdown">
                    <label class="label-field">Code</label><br>
                    <input name="project" id="project" class="input-2" type="text" minlength="2" maxlength="8" required>
                    <datalist id="projects" class = "input-2"></datalist>
                </div>
                <div class="dropdown">
                    <label class = "label-field">Subaction code</label><br>
                    <input name="subaction" id="subaction" class="input-2" type="text" minlength="2" maxlength="20" required>
                    <datalist id="subactions" class = "input-2"></datalist>
                </div>
            </div>
        </div>
        <div class="top-buttons">
            <button class="black-button" type="button" id="retrive_button">Retrive data</button>
        </div>
        <div class="border"></div>
        <div class="group">
            <div>
                <label class = "label-title">Code</label>
            </div>
            <div class="fields-group">
                <div>
                    <label class = "label-field">Action code</label><br>
                    <input name="action" id="action" class="input-3" type="text" disabled="True">
                </div>
                <div>
                    <label class = "label-field">Client code</label><br>
                    <input name="client" id="client" class="input-3" type="text" minlength="2" maxlength="20" required>
                </div>
                <div>
                    <label class = "label-field">Custom code</label><br>
                    <input name="custom" id="custom" class="input-3" type="text" disabled="True">
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div class="group">
            <div>
                <label class = "label-title">Details</label>
            </div>
            <div class="fields-group">
                <div>
                    <label class = "label-field">Phase</label><br>
                    <input name="phase" id="phase" class="input-2" type="text"  minlength="2" maxlength="10" required>
                </div>
                <div>
                    <label class = "label-field">Type</label><br>
                    <input name="type" id="type" class = "input-2" type="text" minlength="2" maxlength="8" required>
                </div>
            </div>
        </div>

        <div class="group">
            <div>
                <label class = "label-title"></label>
            </div>
            <div class="fields-group">
                <div>
                    <label class = "label-field">Discipline</label><br>
                    <input name="discipline" id="discipline" class="input-2" type="text"  minlength="2" maxlength="10" required>
                </div>
                <div>
                    <label class = "label-field">System</label><br>
                    <input name="system" id="system" class = "input-2" type="text" minlength="2" maxlength="8" required>
                </div>
            </div>
        </div>
        <div id = "subactions">
            <div class="group">
                <div>
                    <label class = "label-title"></label>
                </div>
                <div class="fields-group">
                    <div>
                        <label class = "label-field">Zone</label><br>
                        <input name = "subaction_zone" id= "zone" class = "input-3" type="text" minlength="2" maxlength="20" required>
                        <datalist id="zones_0" class = "input-4"></datalist>
                    </div>
                    <div>
                        <label class = "label-field">Area</label><br>
                        <input name = "subaction_area" id= "area" class = "input-3" type="text" minlength="2" maxlength="20" required>
                        <datalist id="areas_0" class = "input-4"></datalist>
                    </div>
                    <div>
                        <label class = "label-field">Time</label><br>
                        <input name = "subaction_time" id ="time" class = "input-3" type="number"  min="0" max="1000" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div class="group">
            <div>
                <label class = "label-title">Description</label>
            </div>
            <div>
                <label class = "label-field">Description</label><br>
                <div class = "description">
                    <textarea id="description" name="description" class = "input-text"  type="text" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </form>
</main>
{%endblock%}