:root{
    background-color: #fafafa;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body{
    margin-top: 80px;
}

#window{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


nav{
    background-color: #ffffff;
    border-bottom: #EAEAEA solid 1px;
    width: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
}

.nav-elements{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

.nav-elements-buttons{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.pms-logo{
    height:50px;
}

.pms-logo:hover{
    opacity:50% ;
}

.tools-button{
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

.tools-button:hover{
    opacity: 50%;
}

main{
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 50px;
    width: 100%;
}

.footer-group{
    display: flex;
    justify-content: center;
}

.footer-text{
    color: #222222; 
    font-size: 12px;
    padding: 10px;
}

.top-buttons{
    display: flex;
    justify-content: space-between; 
    margin: 12px;
    margin-top: 20px;
}

.black-button{
    border :black solid 1px ;
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
}

.black-button:hover{
    opacity: 70%;
    color: #EAEAEA;
    cursor: pointer;
}

.white-button{
    border:black solid 1px ;
    background-color: white;
    color: black;
    width: 120px;
    height: 40px;
}

.white-button:hover{
    background-color: #EEEEEE;
    opacity: 70%;
    cursor: pointer;
}

.margin-top{
    margin-top: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}