{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tools/kanban.css')}}"/>
{% endblock %}

{% block scripts %}<script src="/static/js/tools/kanban/script.js" defer></script>{% endblock %}


{% block title%}PMS | Kanban{% endblock %}


{%block main%}
    <main>
        <div class="input-fields">
            <div class="filter-field">
                <div class="label">
                    <label class="label-field">Project</label>
                </div>
                <input type="text" name="project" id="project" autocomplete="off" required>
                <datalist id="projects"></datalist>
            </div>
            <div class="filter-field">
                <div class="label">
                    <label class="label-field">Field</label>
                </div>
                <input type="text" name="field" id="field" autocomplete="off" required>
                <datalist id="fields"></datalist>
            </div>
            <div class="filter-field">
                <div class="label">
                    <label class="label-field">Value</label>
                </div>
                <input type="text" name="value" id="value" autocomplete="off" required>
                <datalist id="values"></datalist>
            </div>
            <button type="button" id="show_results_button" class="black-button">Show results</button>
        </div>


        
        <div class="status-bar">
            <div class="status-section to-do">
                <div class="status-title-group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-file-alert"
                    width="20" height="20" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                        <line x1="12" y1="17" x2="12.01" y2="17"></line>
                        <line x1="12" y1="11" x2="12" y2="14"></line>
                    </svg>
                    <p class="status-title to-do">To Do</p>
                </div>
                <a href="/wps/create_wp">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler
                    icon-tabler-plus pad-15" width="20" height="20" viewBox="0 0 24 24" 
                    stroke-width="2" stroke="#900000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                </a>        
            </div>

            <div class="status-section in-progress">
                <div class="status-title-group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-hourglass"
                    width="20" height="20" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6.5 7h11"></path>
                        <path d="M6.5 17h11"></path>
                        <path d="M6 20v-2a6 6 0 1 1 12 0v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1z"></path>
                        <path d="M6 4v2a6 6 0 1 0 12 0v-2a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1z"></path>
                     </svg>
                    <p class="status-title in-progress">In Progress</p>
                </div>
                <a href="/wps/create_wp">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tablericon-tabler-plus pad-15"
                    width="20" height="20" viewBox="0 0 24 24"
                    stroke-width="2" stroke="#d0aa00" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                </a>        
            </div>
            <div class="status-section on-hold">
                <div class="status-title-group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-player-pause"
                    width="20" height="20" viewBox="0 0 24 24"
                    stroke-width="2" stroke="#0D4C92" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="6" y="5" width="4" height="14" rx="1"></rect>
                        <rect x="14" y="5" width="4" height="14" rx="1"></rect>
                     </svg>
                    <p class="status-title on-hold">On Hold</p>
                </div>
                <a href="/wps/create_wp">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler
                    icon-tabler-plus pad-15" width="20" height="20" viewBox="0 0 24 24" 
                    stroke-width="2" stroke="#0D4C92" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                </a>        
            </div>
            <div class="status-section done">
                <div class="status-title-group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-file-check"
                    width="20" height="20" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                        <path d="M9 15l2 2l4 -4"></path>
                     </svg>
                    <p class="status-title done">Done</p>
                </div>
                <a href="/wps/create_wp">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler
                    icon-tabler-plus pad-15" width="20" height="20" viewBox="0 0 24 24" 
                    stroke-width="2" stroke="#1f7d00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                </a>        
            </div>
            <div class="status-section cancel">
                <div class="status-title-group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-file-x"
                    width="20" height="20" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                        <path d="M10 12l4 4m0 -4l-4 4"></path>
                     </svg>
                    <p class="status-title cancel">Cancel</p>
                </div>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler
                    icon-tabler-plus pad-15" width="20" height="20" viewBox="0 0 24 24" 
                    stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                </a>        
            </div>
        </div>
        <div class="cards">
            <div class="cards-column" id="to-do"></div>
            <div class="cards-column" id="in-progress"></div>
            <div class="cards-column" id="on-hold"></div>
            <div class="cards-column" id="done"></div>
            <div class="cards-column" id="cancel"></div>
        </div>
    </main>

{%endblock%}
