{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/data.css')}}"/>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/data.js" defer></script>
{% endblock %}

{% block header%}PMS | Data{% endblock %}

{% block  main%}

<main>
    <div class="color-main" style="display: flex; padding: 12px; justify-content:space-between ">
        <button name = "table_button" id = "projects_table_button" class="white-button">Projects</button>
        <button name = "table_button" id = "actions_table_button" class="white-button"> Actions</button>
        <button name = "table_button" id = "wps_table_button" class="white-button">WPS</button>
        <button name = "table_button" id = "users_table_button" class="white-button">Users</button>
        <button name = "table_button" id = "users_activity_table_button" class="white-button">Users Activity</button>
    </div>

    <div class="color-main data-tables">
        <div id = "intro-text">
            <p>Select one option for data visulization...</p> 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-dots"
                width="160" height="160" viewBox="0 0 24 24" stroke-width="0.25" stroke=" #d5d5d5" fill="none" 
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 3v18h18"></path>
                <circle cx="9" cy="9" r="2"></circle>
                <circle cx="19" cy="7" r="2"></circle>
                <circle cx="14" cy="15" r="2"></circle>
                <line x1="10.16" y1="10.62" x2="12.5" y2="13.5"></line>
                <path d="M15.088 13.328l2.837 -4.586"></path>
            </svg>

        </div>

        
        <div name = "table" id = "projects_table" class = "table-window">
            <div class = "filter-remove-buttons">
                <button class="black-button" id="projects_table_filter_button" >Filter</button>
                <button class="white-button" id="projects_table_remove_button" >Remove</button>
            </div>

            <table class="margin-main">
                <tr>
                    <th>Agresso code</th>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Total budget</th>
                    <th>Execution budget</th>
                    <th>Contract time</th>
                    <th>Consumed time</th>
                    <th>Contract actions</th>
                </tr>
            </table>
        </div>

        <div name = "table" id = "actions_table" class = "table-window">
            <div class = "filter-remove-buttons">
                <button class="black-button" id="actions_table_filter_button" >Filter</button>
                <button class="white-button" id="actions_table_remove_button" >Remove</button>
            </div>
            <table class="margin-main">
                <tr>
                    <th>Code</th>
                    <th>Discipline</th>
                    <th>Phase</th>
                    <th>Date recived</th>
                </tr>
            </table>
        </div>

        <div name = "table" id = "wps_table"  class = "table-window">
            <div class = "filter-remove-buttons">
                <button class="black-button" id="wps_table_filter_button" >Filter</button>
                <button class="white-button" id="wps_table_remove_button" >Remove</button>
            </div>

            <table class="margin-main">
                <tr>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Program hours</th>
                    <th>Consumed hours</th>
                    <th>Assign</th>
                </tr>
            </table>
        </div>

        <div  name = "table" id = "users_table"  class = "table-window">
            <div class = "filter-remove-buttons">
                <button class="black-button" id="users_table_filter_button" >Filter</button>
                <button class="white-button" id="users_table_remove_button" >Remove</button>
            </div>
            <table class="margin-main">
                <tr>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>User email</th>
                    <th>Role</th>
                </tr>
            </table>
        </div>

        <div name = "table" id = "users_activity_table" class = "table-window">
            <div class = "filter-remove-buttons">
                <button class="black-button" id="users_activity_table_filter_button" >Filter</button>
                <button class="white-button" id="users_activity_table_remove_button" >Remove</button>
            </div>
            <table class="margin-main">
                <tr>
                    <th>Project</th>
                    <th>WP</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Consumed hours</th>
                </tr>
            </table>
        </div>
    </div>
</main>

{% endblock %}